:root {
  --mediumBrown: #7a746e;
  --lightRed: #eb7565;
  --black: #030303;
  --summerYellow: #f6a560;
  --galacticBlue: #755cde;
  --liteCream: #fff7f0;
  --headingL-font-size: 5.6rem;
  --headingL-line: 1.25;
  --headingM-font-size: 4rem;
  --headingM-line: 1.275;
  --headingS-font-size: 3.2rem;
  --headingS-line: 1.25;
  --bodyM-font-size: 1.8rem;
  --bodyM-line: 1.6;
}
